<%- include('../_layout/admin_header'); %>


        <!-- Content start -->
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Application</h1>
                </div>
            </div>
            <div class="row" style="margin-bottom:20px;">
                <a href="/admin/upload_apk" class="btn btn-default col-md-offset-10 col-lg-offset-10">Upload Apk</a>
            </div>

            <div class="row">
                <div class="col-md-11 col-lg-11">
                    <table class="table table-bordered table-hover" style="font-size:18px;width:100%">
                        <tbody>

                            <tr style="background-color:#ddd">
                                <th class="col-md-1 col-lg-1 col-sm-1 col-xs-1">Approved Date</th>
                                <th class="col-md-1 col-lg-1">Icon</th>
                                <th class="col-md-1 col-lg-1">Name</th>
                                <th class="col-md-2 col-lg-2">Introduction</th>
                                <th class="col-md-2 col-lg-2">User Permission</th>
                                <th class="col-md-1 col-lg-1">Version</th>
                                <th class="col-md-1 col-lg-1">Uploader</th>
                                <th class="col-md-1 col-lg-1">Remove</th>
                            </tr>

                            <tr>
                                <td>2016-06-12</td>
                                <td><img src="../../dist/img/line.png" alt="" style="width:50%"></td>
                                <td><a href="/admin/show_app_detail">Line</a></td>
                                <td name="file_intro_col">Line App</td>
                                <td name="">
                                    <font style="color:#337ab7">public</font>
                                </td>
                                <td name="version">6.5.1</td>
                                <td>Proces</td>
                                <td style="cursor:pointer"><img src="../../dist/img/trash_can.png" alt="" style="width:30%"></td>
                            </tr>

                            <tr>
                                <td>2016-06-11</td>
                                <td><img src="../../dist/img/skype.png" alt="" style="width:50%"></td>
                                <td><a href="#">Skype</a></td>
                                <td name="file_intro_col">Skype App</td>
                                <td name="">
                                    <font style="color:#F0677C">private</font>
                                </td>
                                <td name="version">6.20</td>
                                <td>Proces</td>
                                <td style="cursor:pointer"><img src="../../dist/img/trash_can.png" alt="" style="width:30%"></td>
                            </tr>

                            <tr>
                                <td>2016-06-11</td>
                                <td><img src="../../dist/img/google_map.jpg" alt="" style="width:50%"></td>
                                <td><a href="#">Google Map</a></td>
                                <td name="file_intro_col">Google Map App</td>
                                <td>
                                    <font style="color:#337ab7">public</font>
                                </td>
                                <td name="version">4.21.1</td>
                                <td>Pinky</td>
                                <td style="cursor:pointer"><img src="../../dist/img/trash_can.png" alt="" style="width:30%"></td>
                            </tr>

                            <tr>
                                <td>2016-06-03</td>
                                <td><img src="../../dist/img/google_drive.png" alt="" style="width:50%"></td>
                                <td><a href="#">Google Drive</a></td>
                                <td name="file_intro_col">Google Drive App</td>
                                <td>
                                    <font style="color:#F0677C">private</font>
                                </td>
                                <td name="version">4.12.1</td>
                                <td>Pinky</td>
                                <td style="cursor:pointer"><img src="../../dist/img/trash_can.png" alt="" style="width:30%"></td>
                            </tr>

                            <tr>
                                <td>2016-06-03</td>
                                <td><img src="../../dist/img/google_chrome.png" alt="" style="width:50%"></td>
                                <td><a href="#">Chrome</a></td>
                                <td name="file_intro_col">Google Chrome App</td>
                                <td>
                                    <font style="color:#337ab7">public</font>
                                </td>
                                <td name="version">52.0.2743.84</td>
                                <td>Pinky</td>
                                <td style="cursor:pointer"><img src="../../dist/img/trash_can.png" alt="" style="width:30%"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- End of Content -->

    </div>
	<!-- end of wrapper -->

    

<%- include('../_layout/admin_footer'); %>

