<%- include('../_layout/admin_header'); %>

        <!-- This is Content -->
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Client App</h1>
                </div>
            </div>

            <div class="row">
                <a href="#" class="btn btn-success col-md-offset-10 col-lg-offset-10 " style="font-size:18px"><span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span> Upload</a>
            </div>

            <div class="row">
                <div class="col-md-11 col-lg-11 col-sm-10 col-xs-10" style="margin-top:20px">
                    <table class="table table-bordered table-hover" style="width:100%;font-size:18px">
                        <tbody>

                            <tr style="background-color:#ddd">
                                <th class="col-md-2 col-lg-2 col-sm-2 col-xs-2">Upload Date</th>
                                <th class="col-md-2 col-lg-2">Name</th>
                                <th class="col-md-2 col-lg-2">Introduction</th>
                                <th class="col-md-1 col-lg-1 col-sm-1 col-xs-1">Format</th>
                                <th class="col-md-1 col-lg-1">Version</th>
                                <th class="col-md-1 col-lg-1">Download</th>
                                <th class="col-md-1 col-lg-1">Remove</th>
                            </tr>

                            <tr>
                                <td>2016-06-12</td>
                                <td>Client App</td>
                                <td name="file_intro_col">Fix issue</td>
                                <td>Apk</td>
                                <td name="file_upload_user">1.2.1</td>
                                <td style="color:blue;cursor:pointer"><a href="#">Download</a></td>
                                <td style="cursor:pointer"><img src="../../dist/img/trash_can.png" alt="" style="width:30%"></td>
                            </tr>

                            <tr>
                                <td>2016-06-11</td>
                                <td>Client App</td>
                                <td name="file_intro_col">New features</td>
                                <td>Apk</td>
                                <td name="file_upload_user">1.2.0</td>
                                <td style="color:blue;cursor:pointer"><a href="#">Download</a></td>
                                <td style="cursor:pointer"><img src="../../dist/img/trash_can.png" alt="" style="width:30%"></td>
                            </tr>

                            <tr>
                                <td>2016-06-11</td>
                                <td>Client App</td>
                                <td name="file_intro_col">New features</td>
                                <td>Apk</td>
                                <td name="file_upload_user">1.1.0</td>
                                <td style="color:blue;cursor:pointer"><a href="#">Download</a></td>
                                <td style="cursor:pointer"><img src="../../dist/img/trash_can.png" alt="" style="width:30%"></td>
                            </tr>

                            <tr>
                                <td>2016-06-03</td>
                                <td>Client App</td>
                                <td name="file_intro_col">Fix issue</td>
                                <td>Apk</td>
                                <td name="file_upload_user">1.0.1</td>
                                <td style="color:blue;cursor:pointer"><a href="#">Download</a></td>
                                <td style="cursor:pointer"><img src="../../dist/img/trash_can.png" alt="" style="width:30%"></td>
                            </tr>

                            <tr>
                                <td>2016-06-03</td>
                                <td>Client App</td>
                                <td name="file_intro_col">Origin Version</td>
                                <td>Apk</td>
                                <td name="file_upload_user">1.0.0</td>
                                <td style="color:blue;cursor:pointer"><a href="#">Download</a></td>
                                <td style="cursor:pointer"><img src="../../dist/img/trash_can.png" alt="" style="width:30%"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- End of Content -->

    </div>
	<!-- end of wrapper -->

   

<%- include('../_layout/admin_footer'); %>

