<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>DataTables | Gentelella</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
    
    <!-- iCheck -->
    <link href="/lib/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- Datatables -->
    <link href="/lib/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/lib/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="/lib/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="/lib/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="/lib/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/build/css/gentelella.css" rel="stylesheet">
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>ITRI Brahma - Admin</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <span class="fa fa-user-circle fa-3x profile_icon"></span>
              </div>
              <div class="profile_info">
                <span>Welcome,</span>
                <h2>John Doe</h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                  <li><a href="/admin"><i class="fa fa-dashboard"></i>Dashboard</a></li>

                  <li><a id="monitor_page" class="firstNav"><i class="fa fa-desktop"></i> Monitor <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/admin/monitor_cpu_detail">CPU</a></li>
                      <li><a href="/admin/monitor_memory_detail">Memory</a></li>
                      <li><a href="/admin/monitor_network_detail">Network</a></li>
                    </ul>
                  </li>

                  <li><a id="server_page" class="firstNav"><i class="fa fa-hdd-o"></i> Server <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/admin/vmi_overseer_detail">Brahma Authentication</a></li>
                      <li><a href="/admin/vmi_server_detail">Brahma Server</a></li>
                      <li><a href="/admin/vmi_server_setting">Setting</a></li>
                    </ul>
                  </li>

    	          <li><a id="instance_page" class="firstNav"><i class="fa fa-mobile"></i> Android Instance <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/admin/vm">Virtual Machine</a></li>
                      <li><a href="/admin/arm">ARM Cluster</a></li>
                    </ul>
                  </li>

                  <li><a href="/admin/show_user"><i class="fa fa-user"></i>User</a></li>

                  <li><a id="log_page" class="firstNav"><i class="fa fa-table"></i> Log <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/admin/show_webLog">Web Log</a></li>
                      <li><a href="/admin/show_appClientLog">App Log</a></li>
                    </ul>
                  </li>

                  <li><a href="/admin/app_list"><i class="fa fa-th-large"></i>App List</a></li>
                </ul>
              </div>
            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    John Doe
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a id="changePswBtn"><i class="fa fa-pencil pull-right"></i> change password</a></li>
                    <li><a id="logoutBtn"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Users <small>Some examples to get you started</small></h3>
              </div>

              <div class="title_right">

              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Default Example <small>Users</small></h2>
                  </div>
                  <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                      
                    </p>
                    <table id="datatable" class="table">
                      <thead>
                        <tr>
                    		<th>ID</th>
                     		<th>Model</th>
                      		<th>Node Info</th>
                      		<th>BMC IP</th>
                      		<th>BMC MAC</th>
                      		<th>BMC Version</th>
                      		<th>Power State</th>
                      		<th>Power Policy</th>
                        </tr>
                      </thead>


                      <tbody>
	                   	<% for(var i=1; i<10; i++) { %>
		                    <tr>
		                    	<td><input type="checkbox" id="check" class="	flat checkbox"></td>
                        		<td>C<%= i %></td>
                         		<td>S900_96board</td>
                          		<td><%= i %>/16</td>
                          		<td>192.168.1.10<%= i %></td>
                   	       		<td>00:05:1B:20:0F:A<%= i %></td>
                	      		<td>0.9.0 #36</td>
                          		<td>Power State</td>
                          		<td>Power Policy</td>
                    		</tr>
                        <% } %>                                            
                      
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>           
            </div>
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
   
	<!-- iCheck -->
    <script src="/lib/iCheck/icheck.min.js"></script>
    <!-- jQuery cookie -->
    <script src="/js/plugin/jquery.cookie.js"></script>
    <!-- Datatables -->
    <script src="/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/lib/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/lib/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/lib/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/lib/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/lib/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/lib/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/lib/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/lib/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/lib/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/lib/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    

    <!--<script src="/lib/jszip/dist/jszip.min.js"></script>
    <script src="/lib/pdfmake/build/pdfmake.min.js"></script>
    <script src="/lib/pdfmake/build/vfs_fonts.js"></script> -->

    <!-- Custom Theme Scripts -->
    <script src="/build/js/custom.min.js"></script>



  </body>
</html>