<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ITRI Brahma | Account authentication</title>
    
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">

    <!-- MetisMenu CSS -->
    <link rel="stylesheet" href="/lib/metisMenu/dist/metisMenu.min.css">

    <!-- Timeline CSS -->
    <link rel="stylesheet" href="/css/timeline.css">

    <!-- sb-admin CSS -->
    <link rel="stylesheet" href="/css/sb-admin-2.css">

    <!-- Morris Charts CSS -->
    <link rel="stylesheet" href="/lib/morrisjs/morris.css">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    
    <!-- My custom CSS -->
    <link rel="stylesheet" href="/css/myStyle.css">
    
</head>

<body>
    <div id="wrapper">
        <!-- auth_box -->
        <div class="auth_box">
            <h2>Successful Authentication</h2>
            <p>
                You sucessfule authentic your Brahma account.
                <br><br>
                This page After <span id="countdown"></span> seconds go to the Sign in page
            </p>
        </div>
    </div>  
</body>
</html>


<!-- jquery -->
<script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js" integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk=" crossorigin="anonymous"></script>

<script src="/js/plugin/jquery.cookie.js"></script>
<script src="/js/part/js.auth.js"></script>

<script type="text/javascript">
    var countdownnumber=5;
    var countdownid;
    initial();
    function initial(){ countdownfunc(); }
    function countdownfunc(){
        var x=document.getElementById("countdown");
        x.innerHTML=countdownnumber;
        if (countdownnumber==0){ 
            clearTimeout(countdownid);
            window.location="/";
        }else{
            countdownnumber--;
            if(countdownid){
                clearTimeout(countdownid);
            }
            countdownid=setTimeout(countdownfunc,1000);
        }
    }
 </script>