<%- include('../_layout/admin_header'); %>

        <!-- Content start -->
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Department</h1>
                </div>
            </div>

            <div class="row">
                <a href="#" class="btn btn-info col-md-offset-9 col-lg-offset-9 " style="font-size:18px"><span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span> New Department</a>
            </div>

            <div class="row">
                <div class="col-md-offset-0 col-lg-offset-0 col-md-12 col-lg-12 col-sm-10 col-xs-10" style="margin-top:20px">
                    <table class="table table-bordered table-hover" style="width:100%;font-size:18px;text-align:center">
                        <tbody>
                            <tr class="tg" style="padding-top:20px;background-color:#ddd">
                                <th class="col-md-2 col-lg-2">Department</th>
                                <th class="col-md-1 col-lg-1">Number of People</th>
                                <th class="col-md-1 col-lg-1">Authorized App</th>
                                <th class="col-md-1 col-lg-1">Remove</th>
                            </tr>

                            <tr>
                                <td><a href="/admin/show_user">Human Resources Department</a></td>
                                <td>30</td>
                                <td style="text-align:center;"><a href="/admin/show_department_auth_app"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style=";color:orange;font-size:30px;cursor:pointer"></span></a></td>
                                <td style="text-align:center;"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true" style=";color:red;font-size:30px;cursor:pointer"></span></td>
                            </tr>

                            <tr>
                                <td><a href="/admin/show_user">General Affairs Department</a></td>
                                <td>20</td>
                                <td style="text-align:center;"><a href="/admin/show_user_auth_app"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style=";color:orange;font-size:30px;cursor:pointer"></span></a></td>
                                <td style="text-align:center;"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true" style=";color:red;font-size:30px;cursor:pointer"></span></td>
                            </tr>

                            <tr>
                                <td><a href="/admin/show_user">Engineering Deparment</a></td>
                                <td>50</td>
                                <td style="text-align:center;"><a href="/admin/show_user_auth_app"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style=";color:orange;font-size:30px;cursor:pointer"></span></a></td>
                                <td style="text-align:center;"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true" style=";color:red;font-size:30px;cursor:pointer"></span></td>
                            </tr>

                            <tr>
                                <td><a href="/admin/show_user">Research Deparment</a></td>
                                <td>30</td>
                                <td style="text-align:center;"><a href="/admin/show_user_auth_app"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style=";color:orange;font-size:30px;cursor:pointer"></span></a></td>
                                <td style="text-align:center;"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true" style=";color:red;font-size:30px;cursor:pointer"></span></td>
                            </tr>

                            <tr>
                                <td><a href="/admin/show_user">Service Department</a></td>
                                <td>25</td>
                                <td style="text-align:center;"><a href="/admin/show_user_auth_app"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style=";color:orange;font-size:30px;cursor:pointer"></span></a></td>
                                <td style="text-align:center;"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true" style=";color:red;font-size:30px;cursor:pointer"></span></td>
                            </tr>

                            <tr>
                                <td><a href="/admin/show_user">Purchase & Order Department</a></td>
                                <td>20</td>
                                <td style="text-align:center;"><a href="/admin/show_user_auth_app"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style=";color:orange;font-size:30px;cursor:pointer"></span></a></td>
                                <td style="text-align:center;"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true" style=";color:red;font-size:30px;cursor:pointer"></span></td>
                            </tr>

                            <tr>
                                <td><a href="/admin/show_user">General Accounting Department</a></td>
                                <td>15</td>
                                <td style="text-align:center;"><a href="/admin/show_user_auth_app"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style=";color:orange;font-size:30px;cursor:pointer"></span></a></td>
                                <td style="text-align:center;"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true" style=";color:red;font-size:30px;cursor:pointer"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- End of Content -->

    </div>
    <!-- end of wrapper -->

	
<%- include('../_layout/admin_footer'); %>
