<%- include('../_layout/client_header'); %>

        <!-- Content start -->
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">My App</h1>
                </div>
            </div>
            <div class="row">
                <div class="alert alert-info col-md-11 col-lg-11" style="font-size:20px">App Amount： 5</div>
            </div>
            <div class="row">
                <div class="col-md-11 col-lg-11">
                    <table class="table table-bordered table-hover" style="font-size:18px;width:100%">
                        <tbody>
                            <tr style="background-color:#ddd">
                                <th class="col-md-1 col-lg-1 col-sm-1 col-xs-1">Authorized Date</th>
                                <th class="col-md-1 col-lg-1">Icon</th>
                                <th class="col-md-1 col-lg-1">Name</th>
                                <th class="col-md-2 col-lg-2">Introduction</th>
                                <th class="col-md-2 col-lg-2">Permission</th>
                                <th class="col-md-1 col-lg-1">Version</th>
                                <th class="col-md-1 col-lg-1">Uploader</th>
                            </tr>
                            <tr>
                                <td>2016-06-12</td>
                                <td style="text-align:center"><img src="../../dist/img/line.png" alt="" style="width:50%"></td>
                                <td>Line</td>
                                <td name="file_intro_col">Line App</td>
                                <td name=""><font style="color:#337ab7">public</font></td>
                                <td name="version">6.5.1</td>
                                <td name="">Proces</td>
                            </tr>
                            <tr>
                                <td>2016-06-11</td>
                                <td style="text-align:center"><img src="../../dist/img/skype.png" alt="" style="width:50%"></td>
                                <td>Skype</td>
                                <td name="file_intro_col">Skype App</td>
                                <td name=""><font style="color:#F0677C">private</font></td>
                                <td name="version">6.20</td>
                                <td name="">Proces</td>
                            </tr>
                            <tr>
                                <td>2016-06-11</td>
                                <td style="text-align:center"><img src="../../dist/img/google_map.jpg" alt="" style="width:50%"></td>
                                <td>Google Map</td>
                                <td name="file_intro_col">Google Map App</td>
                                <td><font style="color:#337ab7">public</font></td>
                                <td name="version">4.21.1</td>
                                <td name="">Pinky</td>
                            </tr>
                            <tr>
                                <td>2016-06-03</td>
                                <td style="text-align:center"><img src="../../dist/img/google_drive.png" alt="" style="width:50%"></td>
                                <td>Google Drive</td>
                                <td name="file_intro_col">Google Drive App</td>
                                <td><font style="color:#F0677C">private</font></td>
                                <td name="version">4.12.1</td>
                                <td name="">Pinky</td>
                            </tr>
                            <tr>
                                <td>2016-06-03</td>
                                <td style="text-align:center"><img src="../../dist/img/google_chrome.png" alt="" style="width:50%"></td>
                                <td>Chrome</td>
                                <td name="file_intro_col">Google Chrome App</td>
                                <td><font style="color:#337ab7">public</font></td>
                                <td name="version">52.0.2743.84</td>
                                <td name="">Pinky</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- End of Content -->

    </div>
    <!-- end of wrapper -->

<%- include('../_layout/client_footer'); %>
  
