<%- include('../_layout/developer_header'); %>
    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Client App</h3>
              </div>

              <div class="title_right">

              </div>
            </div>

            <div class="clearfix"></div>
           

            <div class="row">
               <div class="col-md-offset-1 col-lg-offset-1 col-md-10 col-lg-10 col-sm-10 col-xs-10" style="margin-top:20px">
                    <table class="table table-bordered table-hover" style="width:100%;font-size:18px">
                        <tbody>
                            <tr style="background-color:#ddd">
                                <th class="col-md-2 col-lg-2 col-sm-2 col-xs-2">Upload Date</th>
                                <th class="col-md-2 col-lg-2">Name</th>
                                <th class="col-md-2 col-lg-2">Introduction</th>
                                <th class="col-md-1 col-lg-1 col-sm-1 col-xs-1">Format</th>
                                <th class="col-md-1 col-lg-1">Version</th>
                                <th class="col-md-1 col-lg-1">Download</th>
                            </tr>

                            <tr>
                                <td>2016-06-12</td>
                                <td>Client App</td>
                                <td name="file_intro_col">Fix issue</td>
                                <td>Apk</td>
                                <td name="file_upload_user">1.2.1</td>
                                <td style="color:blue;cursor:pointer"><a href="#">Download</a></td>
                            </tr>

                            <tr>
                                <td>2016-06-11</td>
                                <td>Client App</td>
                                <td name="file_intro_col">New features</td>
                                <td>Apk</td>
                                <td name="file_upload_user">1.2.0</td>
                                <td style="color:blue;cursor:pointer"><a href="#">Download</a></td>
                            </tr>

                            <tr>
                                <td>2016-06-11</td>
                                <td>Client App</td>
                                <td name="file_intro_col">New features</td>
                                <td>Apk</td>
                                <td name="file_upload_user">1.1.0</td>
                                <td style="color:blue;cursor:pointer"><a href="#">Download</a></td>
                            </tr>

                            <tr>
                                <td>2016-06-03</td>
                                <td>Client App</td>
                                <td name="file_intro_col">Fix issue</td>
                                <td>Apk</td>
                                <td name="file_upload_user">1.0.1</td>
                                <td style="color:blue;cursor:pointer"><a href="#">Download</a></td>
                            </tr>

                            <tr>
                                <td>2016-06-03</td>
                                <td>Client App</td>
                                <td name="file_intro_col">Origin Version</td>
                                <td>Apk</td>
                                <td name="file_upload_user">1.0.0</td>
                                <td style="color:blue;cursor:pointer"><a href="#">Download</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>  
            </div>
        </div>
    </div>
    <!-- page content -->

    <%- include('../_layout/developer_footer'); %>

    <script type="text/javascript">
        var margin_l = 20;
        $('#app_use_block').css({
            'margin-right': margin_l + 'px'
        });
        var upload_block_width = $("#auth_app_block").width() + margin_l + 30;
        console.log(upload_block_width);
        $('#auth_app_block').css({
            'width': upload_block_width + 'px'
        });
    </script>