<%- include('../_layout/developer_header'); %>
    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Department</h3>
              </div>

              <div class="title_right">

              </div>
            </div>

            <div class="clearfix"></div>
            <div class="row">
                <a href="/developer/upload_apk" class="btn btn-default col-md-offset-10 col-lg-offset-10">Upload Apk</a>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <table class="table table-bordered table-hover" style="width:100%;font-size:18px;text-align:center">
                        <tbody>
                            <tr class="tg" style="padding-top:20px;background-color:#ddd">
                                <th class="col-md-2 col-lg-2">Department</th>
                                <th class="col-md-1 col-lg-1">Number of Peoples</th>
                            </tr>
                            <tr>
                                <td>Human Resources Department</td>
                                <td>30</td>
                            </tr>
                            <tr>
                                <td>General Affairs Department</td>
                                <td>20</td>
                            </tr>
                            <tr>
                                <td>Engineering Deparment</td>
                                <td>50</td>
                            </tr>
                            <tr>
                                <td>Research Deparment</td>
                                <td>30</td>
                            </tr>
                            <tr>
                                <td>Service Department</td>
                                <td>25</td>
                            </tr>
                            <tr>
                                <td>Purchase & Order Department</td>
                                <td>20</td>
                            </tr>
                            <tr>
                                <td>General Accounting Department</td>
                                <td>15</td>
                            </tr>
                        </tbody>
                    </table>
                </div>        
            </div>
        </div>
    </div>
    <!-- page content -->

    <%- include('../_layout/developer_footer'); %>

    <script type="text/javascript">
        var margin_l = 20;
        $('#app_use_block').css({
            'margin-right': margin_l + 'px'
        });
        var upload_block_width = $("#auth_app_block").width() + margin_l + 30;
        console.log(upload_block_width);
        $('#auth_app_block').css({
            'width': upload_block_width + 'px'
        });
    </script>
