<%- include('../_layout/developer_header'); %>

    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3><%= meetingName %></h3>
              </div>

              <div class="title_right">
              </div>
            </div>

            <div class="clearfix"></div>
           
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Upload File</h2>
                        </div>
                        <div class="x_content">
                            <form action="/developer/meeting/upload_file" class="white" method="post" role="form" id="uploadForm" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label class="col-sm-2 col-xs-12 control-label ">period</label>
                                    <div class="col-sm-10">
                                        <div class="input-group date" id="daterangepicker1">
                                            <input type="text" name="period" class="form-control"/>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 col-xs-12 control-label">file</label>
                                    <div class="col-sm-10">
                                        <input id="file" type="file" class="file" name="file" >
                            
                                    </div>
                                </div>
                                

                                <div class="col-sm-12 center">
                                    <span class="hint"></span><br>
                                    <button type="submit" class="btn btn-info">Submit</button>
                                    <a href="/developer/meeting/show_room_detail" class="btn btn-default" style="margin-left:10px">Back</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>        
            </div>
        </div>
    </div>
    <!-- page content -->
<%- include('../_layout/developer_footer'); %>


<script>
$("#uploadForm").submit(function() {
    var file = $('input[name=file]')[0].files[0];

    if(file.type !== 'application/pdf'){
        $(".hint").html("Only pdfs are allowed");
        return false;
    }
    /*
    var formData = new FormData(this);
    $.ajax({
        url: $(this).attr("action"),
        type: 'POST',
        data: formData,

        success: function (data) {
            if(data.redirect){
                window.location.href = data.redirect;
            }else{
                $(".hint").html("Only pdfs are allowed");
            }
        },
        cache: false,
        contentType: false,
        processData: false
    });
    */

});

$('input[name=period]').dateRangePicker({
    autoClose: false,
    format: 'YYYY-MM-DD',
    separator: ' - ',
    startDate: moment(new Date())
});




</script>
